body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:765px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:201px;
  width:381px;
  height:162px;
}
#u103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:30px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:30px;
}
#u103_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:187px;
  word-wrap:break-word;
}
#u104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:0px;
  width:190px;
  height:30px;
}
#u104_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:186px;
  word-wrap:break-word;
}
#u105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:30px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:191px;
  height:30px;
}
#u105_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:187px;
  word-wrap:break-word;
}
#u106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:30px;
  width:190px;
  height:30px;
}
#u106_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:186px;
  word-wrap:break-word;
}
#u107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:34px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:191px;
  height:34px;
}
#u107_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:187px;
  word-wrap:break-word;
}
#u108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:34px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:60px;
  width:190px;
  height:34px;
}
#u108_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:186px;
  word-wrap:break-word;
}
#u109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:34px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:94px;
  width:191px;
  height:34px;
}
#u109_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:187px;
  word-wrap:break-word;
}
#u110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:34px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:94px;
  width:190px;
  height:34px;
}
#u110_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:186px;
  word-wrap:break-word;
}
#u111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:34px;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:128px;
  width:191px;
  height:34px;
}
#u111_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:187px;
  word-wrap:break-word;
}
#u112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:34px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:128px;
  width:190px;
  height:34px;
}
#u112_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:186px;
  word-wrap:break-word;
}
#u113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:625px;
  top:373px;
  width:140px;
  height:40px;
}
#u113_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u114_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:625px;
  top:165px;
  width:109px;
  height:20px;
}
#u114_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:105px;
  white-space:nowrap;
}
#u115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:135px;
  width:127px;
  height:29px;
  font-size:28px;
}
#u115_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
